.app-header {
    padding: 30px 0;

  & .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
  }

  &__navigation-link {
      font-weight: 400;
      font-size: 18px;
      text-decoration: none;
      color: #000;
      padding: 0 30px;

      &:hover {
        color: #3a41f5;
      }
  }
}

@media (max-width: 640px) {
  .app-header { 
      & .container {
        padding: 0 20px;
        box-sizing: border-box;
    }
    &__navigation {
        margin: 20px 0;
    }
    }
} 